.navbar {
  gap: 50%;
  padding: 30px 10%;
  background-color: #fcca46;
  box-shadow: -3px 16px 38px 20px rgba(252, 202, 70, 1);
  -webkit-box-shadow: -3px 16px 38px 20px rgba(252, 202, 70, 1);
  -moz-box-shadow: -3px 16px 38px 20px rgba(252, 202, 70, 1);
}

.logo {
  text-decoration: none;
  color: black;
  margin: 0 10px;
  font-weight: 500;
  font-size: 35px;
}

.logo:hover {
  color: black;
}

.span {
  text-decoration: none;
  color: black;
  margin: 0 10px;
  background-color: #a1c181;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}

span:hover {
  color: #233d4d;
  text-decoration: none;
}
